<div class="about" style="
background-image: url('assets/images/about.jpg');
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p><img src="assets/images/man.png"></p>
            </div>
            <div class="col-md-7 content">
                <h1>About Hello Kids Franchise</h1>
                <p>By becoming a franchise, an individual or any entity is legally allowed to sell goods,
                    services or concepts that are offered by the parent company, i.e. HELLO KIDS. The Franchise
                    gains from having an immediate recognition of its business venture. It also gains from the
                    training/ support provided by the parent company, i.e. HELLO KIDS. By becoming a franchise,
                    many disadvantages commonly associated with a conventional business operation are avoided</p>
            </div>
        </div>
    </div>
</div>