<div class="contact">
    <h1>Don't Hesitate To Contact Us!</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#"><i style='font-size:24px' class='fas'>&#xf879;</i>
                    +91 7978365730
                </a><br>
                <a href="#"><i style='font-size:24px' class='far'>&#xf0e0;</i>
                    franchise@odchildcare.in
                </a><br><br>
                <div class="map">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1hWIG-5AD4mLh_ROvAwS7hA5GvoU" width="100%"
                        height="480"></iframe>
                </div>
            </div>
            <div class="col-md-6" style="
            border:1px solid gainsboro;
            border-radius: 10px;">
                <form>
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="name" class="form-control" id="exampleInputName">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputNumber">Phone Number</label>
                        <input type="number" class="form-control" id="exampleInputNumber">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">City</label>
                        <input type="name" class="form-control" id="exampleInputCity">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">State</label>
                        <input type="name" class="form-control" id="exampleInputState">
                    </div>
                    <div class="form-group">
                        <label for="inputState">Franchise Model</label>
                        <select id="inputState" class="form-control">
                          <option selected>Rular</option>
                          <option>Rular</option>
                          <option>Semi Rular/Small Town</option>                          
                          <option>Urban/Cities</option>
                          <option>Metro/Capital</option>
                        </select>
                      </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="width: 100%;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>