.benifits{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}
h1{
    text-align: center;
}
ol{
text-align: left;
}
.btn{
    margin-top: 25px;
    background-color:navy;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}