<div class="benifits">
    <h1>Benefits Of Our Preschool Franchise Model</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ol>
                    <li><h6>Association with a nationally recognized brand in pre-school.</h6>
                    <p>Technical assistance in establishing infrastructures. Association with a nationally 
                        recognized brand in pre-school.</p></li>
                    <li><h6>As the HELLO KIDS is an experienced organization, the franchise can learn 
                        from them.</h6>
                    <p>A centralized system for designing curriculum & procurement of books, study materials, 
                        prospectuses, advertisements etc, from the HELLO KIDS which saves Money.</p></li>
                    <li><h6>Planning, designing and supervising the layout of interiors.</h6>
                    <p>Local marketing support.</p></li>
                  </ol>
            </div>
            <div class="col-md-6" style="margin-top: 10px;">
                <img src="assets/images/benifits.jpg" style="width: 100%;">
            </div>
        </div><br>
        <button class="btn my-2 my-sm-0" type="submit">Start your own Preschool</button>
    </div>
</div>
