<div class="section" style="
background-image: url('assets/images/section.jpg');
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <i style='font-size:50px' class='fas'>&#xf559;</i>
                    <div class="card-body">
                        <h5 class="card-title">Best<br>
                            Preschool Franchise</h5>
                        <p class="card-text">With over 685+ preschool franchises all over India and in Bangladesh
                            and Nepal. Hello Kids in one of the fastest-growing preschool franchises.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4">
                <div class="card">
                    <i style='font-size:50px' class='fas'>&#xf681;</i>
                    <div class="card-body">
                        <h5 class="card-title">No Royalty Preschool Franchise</h5>
                        <p class="card-text">Our no royalty preschool franchise program allows our
                            franchisees to make high preschool profit margins.</p>
                    </div>
                </div>
            </div><br>
            <div class="col-md-4">
                <div class="card">
                    <i style='font-size:50px' class='fas'>&#xf0a1;</i>
                    <div class="card-body">
                        <h5 class="card-title">Marketing & Training Support</h5>
                        <p class="card-text">Technical assistance in establishing infrastructures, local marketing
                            support, and training in 25+ centers all across India.</p>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
</div>