<div class="franchisespeaks" style="
background-image: url('assets/images/franchisespeaks.jpg');
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
<div class="container">
    <h1>Franchisee Speaks</h1><br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <p class="card-text">"Hello Kids, a model school and an established seat of learning, 
                      is a mirror to child’s personality. Hello Kids does try to understand the need of 
                      child and firmly believes that it is our responsibility to enable the child to develop 
                      as a whole. It has carved a niche for itself in manifold opportunities for a better 
                      tomorrow."<br><br>
                      <img src="assets/images/seemaspeaks.jpg"  style="width:20%; height:20%; border-radius:50%;"><br><br>
                        <span>Seema Manik</span><br>Champsworld Bhopal, M.P.<br><br><br>
                    </p>

                  
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <p class="card-text">"It’s been a wonderful experience to work with the best preschool 
                      franchise in India, which is Hello Kids. We are delighted and feeling proud to be a 
                      part of Hello Kids. Help, support, books, methodology, curriculum are best in class 
                      and we are happy to have these in our Godhra branch. With Hello Kids our Multinational 
                      Godhra branch is the best preschool in the district with 3 awards."<br><br>
                      <img src="assets/images/himanginispeaks.jpg" style="width:20%; height:20%; border-radius:50%;"><br><br>
                        <span>Seema Manik</span><br>Multinational Panchmahal, Godhra, Gujarat
                      ​</p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <p class="card-text">"For years I have been associated with Hello Kids.It's the best 
                      preschool franchise in india you can get in terms of support system, training and 
                      always implementing new and inovative techniques.very happy and glad to be part of 
                      hello kid.."<br><br>
                      <img src="assets/images/bhanuspeaks.jpg" style="width:20%; height:20%; border-radius:50%;"><br><br>
                        <span>Seema Manik</span><br>Bunny Sunny Durg, Chattisgarh<br><br><br><br>
                      ​</p>
                  
                </div>
              </div>
        </div>
    </div>
</div>
</div>
