<div class="requirements" style="
background-image: url('assets/images/about.jpg');
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="padding:auto 0px auto 0px;">
                <h1>Franchise<br> Requirement</h1>
            </div>
            <div class="col-md-7">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Space Requirement
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        1200+ Sq. Ft. – (500+ Sq. Ft. in Mumbai)
                                    </li>
                                    <li>
                                        Preferably ground floor.
                                    </li>
                                    <li>
                                        Well Ventilated with CCTV
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Government Permission
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ol>
                                    <li>Different states with different rules. (Only Few States as on 2018)</li>
                                    <li>Most states do not have any specefic rules upto UKG Level.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Investment
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>Rural – Rs. 2.5 Lakhs – Rs. 3.99 Lakhs</li>
                                    <li>Semi Rural – Rs. 2.99 Lakhs – Rs. 3.99 Lakhs</li>
                                    <li>Urban – Rs. 2.99 Lakhs – Rs. 3.99 Lakhs</li>
                                    <li>Metros / Tier 1 Cities – Rs.3.99 – Rs.6.99 Lakhs</li>
                                    <li>Existing Preschools – Hello Kids – Junior – Rs.70,000 to Rs.2,00,000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Features Of Hello Kids Franchisee
                              </button>
                            </h2>
                          </div>
                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                              <ul>
                                  <li>
                                    ” No Royalty” – India’s First No Royalty Model Preschool Chain.
                                  </li>
                                  <li>
                                    Regular Yearly Training at 25+ Training Locations In India.
                                  </li>
                                  <li>
                                    Yearly Business Meet with Director, Hello Kids.
                                  </li>
                                  <li>Telegram App Forum Connect with All Hello Kids Owners Across India</li>
                                  <li>International Age Appropriate Curriculum – NCERT (CBSE/ICSE/IB/SB).</li>
                                  <li>24/7 Support from Director, Hello Kids .</li>
                              </ul>
                            </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>