<div class="franchise">
    <h1>Why Hello Kids Franchise</h1><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin-top: 10px;">
                <p><i style='font-size:24px' class='fas'>&#xf058;</i>&nbsp;&nbsp;Training of personnel through an orientation programme for adaptation to the HELLO KIDS way.</p>
                <hr>
                <p><i style='font-size:24px' class='fas'>&#xf058;</i>&nbsp;&nbsp;685 + franchises for preschool all over India and in Bangladesh and Nepal</p>
                <hr>
                <p><i style='font-size:24px' class='fas'>&#xf058;</i>&nbsp;&nbsp;Low investment preschool franchise</p>
            </div>
            <div class="col-md-6" style="margin-top: 20px;">
                <p><i style='font-size:24px' class='fas'>&#xf058;</i>&nbsp;&nbsp;We are India’s 1st Pre-school, targeting the middle income group of the society.</p>
                <hr>
                <p><i style='font-size:24px' class='fas'>&#xf058;</i>&nbsp;&nbsp;The 1st player to operate on a no royalty franchise for preschool.</p>
                <hr>
                <p><i style='font-size:24px' class='fas'>&#xf058;</i>&nbsp;&nbsp;International standard education at affordable fee.</p>
            </div>
        </div><br>
        <button class="btn my-2 my-sm-0" type="submit">Start your own Preschool</button>
    </div>
</div>