<div class="awards" style="
background-image: url('assets/images/awards.jpg');
width: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;">
<h1>Awards</h1><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
               <p><img src="assets/images/curriculum.png"></p>
            </div>
            <div class="col-md-3">
                <p><img src="assets/images/year2017.png"></p>
            </div>
            <div class="col-md-3">
            <p><img src="assets/images/2014.png"></p>
            </div>
            <div class="col-md-3">
            <p><img src="assets/images/2015.png"></p>
            </div>
        </div>
    </div>
</div>